/* Clear Body White Space */
body {
    margin: 0;
    padding: 0;
    color: #EEEEEE;
    background-color: #D0D9D9;
    min-height: 100vh;
}
/* Header */
header {
    text-align: center;
    width: 100%;
    height: 100px;
    color: #EEEEEE;
    background-color: #334257;
}
/* H1 */
h1 {
    margin-top: 0;
    padding-top: 20px;
}
/* Main div background */
#main {
    text-align: center;
    margin-bottom: 0;
    padding-top: 50px;
    width: 100%;
    height: 550px;
    background-color: #D1D9D9;
}
/* Focal area. / Center */
.calculator-container {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    width: 60%;
    height: 525px;
    background-color: #334257;
}
/* Calculator (Grey area) */
#calculator-div {
    display: inline-block;
    text-align: center;
    width: 370px;
    height: 500px;
    background-color: grey;
    padding-top: 15px;
    border-radius: 25px;
}
/* Result Window */
.output-window .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output-window {
    display: inline-block;
    text-align: right;
    width: 332px;
    height: 80px;
    background-color: rgba(0, 0, 0, .75);
}
/* Previous Operand */
.output-window .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
/* Current Operand */
.output-window .current-operand {
    color: white;
    font-size: 2.5rem;
}
/* Button Styling */
/*. Number Buttons */
[data-number] {
    width: 80px;
    height: 80px;
    color: hsl(205, 23%, 36%);
    font-size: 1.9rem;
    border-style: outset;
    border-radius: 5px;
}
/* Operator and Delete Buttons */
[data-operator], [data-delete] {
    width: 80px;
    height: 80px;
    color: #476072;
    font-size: 2rem;
    background-color: palegreen;
    border-radius: 5px;
}
/* Clear Button */
.clear {
    width: 163px;
    height: 80px;
    color: #476072;
    font-size: 2rem;
    background-color: orange;
    border-radius: 5px;
}
/* Equals Button */
.equals {
    width: 164px;
    height: 80px;
    color: #476072;
    margin:auto;
    font-size: 2rem;
    background-color: palegreen;
    border-radius: 5px;
}
/* Effect When Button Clicked */
button:active{
    border-style: inset;
}
/* Style for button hover */
button:hover {
    background-color:#548CA8;
}
/* Footer */
footer {
    width: 100%;
    height: 120px;
    background-color: #D1D9D9;
}
/* GitHub Logo */
.myGit {
    color: black;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}
/* GitHub Hover */
.myGit:hover{
    color: #548CA8;
}
/* Donate Button */
.donate {
    text-align: center;
    width:100px;
    margin: auto;
}
/* Donate Button Hover */
.donate:hover {
    zoom: 150%;
}
/* Instructions Div */
.instructionDiv {
    text-align: center;
    padding-bottom: 15px;
}
/* Popup container*/
.popup {
    position: relative;
    display: inline-block;
    background-color: palegreen;
    color: #334257;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -45%;
    margin-left: -80px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
@keyframes fadeIn {
    from {
        opacity: 0;
   }
    to {
        opacity:1 ;
   }
}
#myPopup {
    font-size: 1.5rem;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-bottom: 125px;
}
/* Max width 650px wide and below */
@media screen and (max-width: 650px) {
    .calculator-container {
        background-color: #D0D9D9;
   }
   /* Calculator (Grey area) */
    #calculator-div {
        width: 350px;
        height: 470px;
   }
   /* Result Window */
    .output-window .previous-operand {
        font-size: 1.5rem;
   }
    .output-window {
        width: 310px;
        height: 80px;
        margin-bottom: 10px;
   }
   /* Previous Operand */
    .output-window .previous-operand {
        font-size: 1.5rem;
   }
   /* Current Operand */
    .output-window .current-operand {
        font-size: 2.5rem;
   }
   /* Button Styling */
   /*. Number Buttons */
    [data-number] {
        width: 70px;
        height: 70px;
        font-size: 1.9rem;
   }
   /* Operator and Delete Buttons */
    [data-operator], [data-delete] {
        width: 70px;
        height: 70px;
        font-size: 2rem;
   }
   /* Clear Button */
    .clear {
        width: 143px;
        height: 70px;
        font-size: 2rem;
   }
   /* Equals Button */
    .equals {
        width: 143px;
        height: 70px;
        font-size: 2rem;
   }
}
/* Max width 650px wide and below */
@media screen and (max-width: 650px) {
    h1 {
        font-size: 1.5rem;
   }
   [data-delete] {
       font-size: 1.8rem;
   }
}
/* Max width 590px wide and below */
@media screen and (max-width: 590px) {
    #calculator-div {
        width: 300px;
        height: 430px;
   }
    .output-window {
        width: 247px;
        height: 80px;
        margin-bottom: 10px;
   }
   /* Button Styling */
   /*. Number Buttons */
    [data-number] {
        width: 60px;
        height: 60px;
        font-size: 1.9rem;
   }
   /* Operator and Delete Buttons */
    [data-operator], [data-delete] {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
   }
   /* Clear Button */
    .clear {
        width: 123px;
        height: 60px;
        font-size: 1.5rem;
   }
   /* Equals Button */
    .equals {
        width: 123px;
        height: 60px;
        font-size: 2rem;
   }
}
/* Max width 570px wide and below */
@media screen and (max-width: 570px) {
   /* Result Window */
    .output-window {
        font-size: 1.5rem;
        padding-top: 10px;
   }
   /* Pop Up */
    #myPopup {
        font-size: 1rem;
        width: 300px;
   }
    .popup .popuptext {
        left: -17px;
   }
}
/* Max width 475px wide and below */
@media screen and (max-width: 475px) {
   /* H1 */
    h1 {
        font-size: 1.5rem;
   }
   /* Main Div */
    #main {
        height: 475px;
   }
   /* Result Window */
    .calculator-container {
        height: 275px;
   }
    #calculator-div {
        width: 250px;
        height: 350px;
   }
    .output-window {
        width: 205px;
        height: 50px;
   }
   /* Previous Operand */
    .output-window .previous-operand {
        font-size: 1rem;
   }
   /* Current Operand */
    .output-window .current-operand {
        font-size: 2rem;
   }
   /* Button Styling */
   /*. Number Buttons */
    [data-number] {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
   }
   /* Operator and Delete Buttons */
    [data-operator], [data-delete] {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
   }
   /* Clear Button */
    .clear {
        width: 103px;
        height: 50px;
        font-size: 1rem;
   }
   /* Equals Button */
    .equals {
        width: 103px;
        height: 50px;
        font-size: 1.2rem;
   }
}
/* Max width 420px wide and below */
@media screen and (max-width: 420px) {
    h1 {
        font-size: 1rem;
    }
    .calculator-container {
        width:300px;
        height: 400px;
   }
   /* Result Window */
    .output-window {
        padding-top: 10px;
        font-size: 1rem;
        height: 30px;
   }
   /* Pop Up */
    #myPopup {
        font-size: 0.8rem;
        width: 250px;
   }
    .popup .popuptext {
        left: 8px;
   }
}
/* Max width 335px wide and below */
@media screen and (max-width: 335px) {
   /* Heading */
    h1 {
        font-size: 1rem;
   }
   /* Pop Up */
    #myPopup {
        font-size: 0.5rem;
        width: 200px;
   }
    .popup .popuptext {
        left: 33px;
   }
}
/* Max width 310px wide and below */
@media screen and (max-width: 310px) {
   /* Heading */
    h1 {
        font-size: 0.8rem;
   }
    #calculator-div {
        width: 200px;
        height: 300px;
   }
    .output-window {
        width: 165px;
        height: 50px;
   }
   /* Button Styling */
   /*. Number Buttons */
    [data-number] {
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
   }
   /* Operator and Delete Buttons */
    [data-operator], [data-delete] {
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
   }
   /* Clear Button */
    .clear {
        width: 83px;
        height: 40px;
        font-size: 0.8rem;
   }
   /* Equals Button */
    .equals {
        width: 83px;
        height: 40px;
        font-size: 0.8rem;
   }
}
